@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Dashboard";
}


<a href="/logout" class="btn btn-dark">Logout</a>
<a href="/RegEdit" class="btn btn-info">Edit Profile</a>
<h1>@ViewBag.User.Name is Logged Into Mingl!</h1>
<img src="@ViewBag.User.ProfilePicUrl" alt="ProfilePic">