@{
    ViewData["Title"] = "Login/Register";
}

<div class="d-flex justify-content-center">
    <h1 class="mt-2">Login to Mingle!</h1>
    <img class="mt-2" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4cbddb5d-7a54-47ba-882b-145fa91744a5/d8n5g31-d8a9a358-fd6d-465d-a6c6-8539083f811d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRjYmRkYjVkLTdhNTQtNDdiYS04ODJiLTE0NWZhOTE3NDRhNVwvZDhuNWczMS1kOGE5YTM1OC1mZDZkLTQ2NWQtYTZjNi04NTM5MDgzZjgxMWQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8PpH2vXRkldV3wKpMztWS9e3dghwYNoMCZKfidoyUKc" alt="">
</div>
<div class="d-flex justify-content-around">
    <partial name="RegisterPartial"/>
    <partial name="LoginPartial"/>
</div>