@{
    ViewData["Title"] = "Login/Register";
}

<div class="d-flex justify-content-center">
    <h1 class="mt-2 fancyFont">Login to Live, Laugh Love with <span class="text-danger">Mingle</span></h1>
</div>
<div class="d-flex justify-content-around">
    <partial name="RegisterPartial"/>
    <partial name="LoginPartial"/>
</div>