/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.shadow{
  background-color: rgba(213, 176, 214, .4);
}
#experiment{
  width: 60%;
  transition-property: background-color, width;
  transition-duration: .8s;
  transition-timing-function: ease-in;
}

#experiment:focus{
  background-color: #ed1f6a;
  color: white;
  width: 90%;
}

.fancyFont{
  font-family: 'Festive', cursive;
}

.fancyFont2{
  font-family: 'Lobster', cursive;
}
body{
  background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
}
#coolbutton{
  font-family: 'Lobster', cursive;
  background-color: #ed1f6a;
  color: white;
  transition-property: background-color;
  transition-duration: .6s;
  transition-timing-function: ease-in;
}

#coolbutton:hover{
  background-color: #7d022f;
}


.pageColumn{
  width: 40%;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}



/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Ubuntu', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
